<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.pushdata.mapper.GS_PHNCP_DMapper">
  <resultMap id="BaseResultMap" type="com.sky.pushdata.pojo.GS_PHNCP_D">
    <id column="SPT" jdbcType="TIMESTAMP" property="SPT" />
    <result column="TW_CD" jdbcType="VARCHAR" property="TW_CD" />
    <result column="AD_CD" jdbcType="CHAR" property="AD_CD" />
    <result column="TYPE" jdbcType="CHAR" property="TYPE" />
    <result column="ST_TP" jdbcType="CHAR" property="ST_TP" />
    <result column="VLPH" jdbcType="VARCHAR" property="VLPH" />
    <result column="BENF" jdbcType="VARCHAR" property="BENF" />
    <result column="ERLBF24" jdbcType="VARCHAR" property="ERLBF24" />
    <result column="SLBF246" jdbcType="VARCHAR" property="SLBF246" />
    <result column="WLF" jdbcType="VARCHAR" property="WLF" />
    <result column="SXJBF246" jdbcType="VARCHAR" property="SXJBF246" />
    <result column="TEST_COM_TM" jdbcType="TIMESTAMP" property="TEST_COM_TM" />
    <result column="TS" jdbcType="TIMESTAMP" property="TS" />
    <result column="ISSEND" jdbcType="INTEGER" property="ISSEND" />
    <result column="NT" jdbcType="LONGVARCHAR" property="NT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date">
    delete from gs_phncp_d
    where SPT = #{SPT,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.sky.pushdata.pojo.GS_PHNCP_D">
    insert into gs_phncp_d (SPT, TW_CD, AD_CD, 
      TYPE, ST_TP, VLPH, BENF, 
      ERLBF24, SLBF246, WLF, 
      SXJBF246, TEST_COM_TM, TS, 
      ISSEND, NT)
    values (#{SPT,jdbcType=TIMESTAMP}, #{TW_CD,jdbcType=VARCHAR}, #{AD_CD,jdbcType=CHAR}, 
      #{TYPE,jdbcType=CHAR}, #{ST_TP,jdbcType=CHAR}, #{VLPH,jdbcType=VARCHAR}, #{BENF,jdbcType=VARCHAR}, 
      #{ERLBF24,jdbcType=VARCHAR}, #{SLBF246,jdbcType=VARCHAR}, #{WLF,jdbcType=VARCHAR}, 
      #{SXJBF246,jdbcType=VARCHAR}, #{TEST_COM_TM,jdbcType=TIMESTAMP}, #{TS,jdbcType=TIMESTAMP}, 
      #{ISSEND,jdbcType=INTEGER}, #{NT,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sky.pushdata.pojo.GS_PHNCP_D">
    update gs_phncp_d
    set TW_CD = #{TW_CD,jdbcType=VARCHAR},
      AD_CD = #{AD_CD,jdbcType=CHAR},
      TYPE = #{TYPE,jdbcType=CHAR},
      ST_TP = #{ST_TP,jdbcType=CHAR},
      VLPH = #{VLPH,jdbcType=VARCHAR},
      BENF = #{BENF,jdbcType=VARCHAR},
      ERLBF24 = #{ERLBF24,jdbcType=VARCHAR},
      SLBF246 = #{SLBF246,jdbcType=VARCHAR},
      WLF = #{WLF,jdbcType=VARCHAR},
      SXJBF246 = #{SXJBF246,jdbcType=VARCHAR},
      TEST_COM_TM = #{TEST_COM_TM,jdbcType=TIMESTAMP},
      TS = #{TS,jdbcType=TIMESTAMP},
      ISSEND = #{ISSEND,jdbcType=INTEGER},
      NT = #{NT,jdbcType=LONGVARCHAR}
    where SPT = #{SPT,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.util.Date" resultMap="BaseResultMap">
    select SPT, TW_CD, AD_CD, TYPE, ST_TP, VLPH, BENF, ERLBF24, SLBF246, WLF, SXJBF246, 
    TEST_COM_TM, TS, ISSEND, NT
    from gs_phncp_d
    where SPT = #{SPT,jdbcType=TIMESTAMP}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SPT, TW_CD, AD_CD, TYPE, ST_TP, VLPH, BENF, ERLBF24, SLBF246, WLF, SXJBF246, 
    TEST_COM_TM, TS, ISSEND, NT
    from gs_phncp_d
  </select>
</mapper>